.topnav {
    background-color: #807171;
    overflow: hidden;
    width: 18.25%;
    text-align: center;
    margin-left: 42%;
    margin-right: 25%;
    padding: 0%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #368b5f;
    color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0aa66d;
    color: white;
}